# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Downloads
downloads/
videos/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Secrets / environment
.env
.env.*
*.cmd


# ============================================================
# External Binaries
# ============================================================

bin/